.product-wrapper{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.product-div{
    font-size: 24px;
    text-align: start;
    width: 600px;
    border: 2px solid black;
    padding: 4em 1em;
    list-style-type: none;
    color: #515151;
}

img{
    width: 100%;
}