
.product-wrapper{
    width: 100%;
    padding: 0em 4em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr ));
    margin-bottom: 2em;
    gap: 6em;

}

.product-div{
    justify-self: center;
    font-size: 24px;
    border-radius: 10px;
    text-align: start;
    border: 2px solid rgba(174, 231, 188, 0.327);
    width: 250px;
    padding: 2em 1em;
    list-style-type: none;
    color: #515151;
}
.product-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 100%;
    margin-bottom: .5em;
    
}

.go-to-btn{
    display: flex;
    justify-content: center;
}

.go-to-btn button{
    font-size: 18px;
    color: white;
    margin-top: 1em;
    padding: .6em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(128deg, rgb(99, 107, 17) 0%, rgb(68, 146, 80) 100%);
}
