.close-btn{
    align-items: center;
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.close-btn:hover{
    transform: scale(0.8);
}