.div-wrapper{
    display: flex;
    justify-content: center;
}


.input-wrapper{
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(16,14,15);
    background: linear-gradient(90deg, rgba(16,14,15,1) 0%, rgba(80,49,56,1) 50%, rgba(80,49,56,1) 100%);
    margin: 1em;
    padding: 2em;
}
.edit-form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.label-div{
    display: flex;
    flex-direction: column;
}

label, .input {
font-size: 24px;
}

.uppdatera-btn{
    color: white;
    font-size: 22px;
    padding: .5em 1em;
    border: 2px solid rgb(158, 110, 21);
    background: rgb(63, 30, 47);
    cursor: pointer;
}
.input::placeholder{
    color: rgb(192, 66, 66);
}

.submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.price-span{
    font-size: 18px;
    color: rgb(165, 0, 0);
    background-color:#edcccc ;
    padding: .4em;
    margin-bottom: .3em;
    border: 2px solid rgba(170, 170, 170, 0.673);
}